<footer class="bg-light fixed-bottom text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="row justify-content-center">
            <div class="col-8">
                <p>Desarrollado por <Strong>Harold Noah Parra Gonzalez</Strong></p>
            </div>
        </div>
      Hecha un Vistaso a mi perfil: 
      <a class="text-dark" href="https://www.linkedin.com/in/harold-noah-parra-gonzales-22789b216/" target="_blank">Linkedin</a>
    </div>
    <!-- Copyright -->

  </footer>